<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niagara Learn</title>
    <link rel="stylesheet" href="../Niagara Learn WebSite/css/style.css">
</head>
<body>
    <header class="site-header">
    <nav class="navbar">
        <div class="nav-left">
            <a href="../Index/index.html" class="nav-logo">
                <img src="../assets/images/logo_ue5.webp" alt="Niagara Learn Logo" style="height: 50px;">
            </a>
            <nav id="main-nav" class="nav-left">
                <div class="nav-links" id="navLinks">
                    <a href="../Index/index.html">Accueil</a>
                    <a href="../Quiz/quiz.html">Quiz</a>
                    <a href="../Index/glossaire.html">Glossaire</a>
                    <a href="../Index/ressources.html">Ressources</a>
                    <a href="../simulator/niagara-nodes-demo.html">Simulator</a>
                    <div class="dropdown">
                        <button class="dropbtn">Chapitres ▼</button>
                        <div class="dropdown-content">
                            <a href="../chapters/introduction.html">Introduction</a>
                            <a href="../chapters/system-vs-emitter.html">System vs Emitter</a>
                            <a href="../chapters/modules-niagara.html">Modules</a>
                            <a href="../chapters/parametres-niagara.html">Paramètres</a>
                            <a href="../chapters/scripts-niagara.html">Scripts</a>
                            <a href="../chapters/events-niagara.html">Events</a>
                            <a href="../chapters/cpu-vs-gpu.html">CPU vs GPU</a>
                            <a href="../chapters/rendu-niagara.html">Rendu</a>
                            <a href="../chapters/blueprint-niagara.html">Blueprint</a>
                            <a href="../chapters/cas-pratiques-niagara.html">Cas pratiques</a>
                            <a href="../chapters/perf-niagara.html">Optimisation</a>
                            <a href="../chapters/faq-niagara.html">FAQ</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="nav-right search">
            <input type="text" id="searchBar" placeholder="Recherche...">
        </div>
    </nav>
</header>
</body>
</html>